---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
---

<BaseLayout title="功能·阶级">
	<style>
		.alert {
		    position: fixed;
			width: 230px;
			height: 40px;
		    top: 20px;
		    right: -100%;
		    background: #ff4444;
		    color: white;
		    padding: 12px 18px;
		    border-radius: 6px;
		    display: flex;
		    align-items: center;
		    opacity: 0;
		    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		    font-family: Arial, sans-serif;
		}
		
		.alert.show {
		    opacity: 1;
		    right: 20px;
		}
		
		.icon::before {
		    content: "×";
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    border-radius: 50%;
		    background: white;
		    color: #ff4444;
		    text-align: center;
		    line-height: 18px;
		    margin-right: 12px;
		    font-weight: 700;
		    font-size: 14px;
		}
	</style>
	<MainCard>
		<div id="staticAlert" class="alert">
		    <span class="icon"></span>
		    <span class="message">名字不能留空</span>
		</div>
		<h1 class="font-bold text-center mb-4 text-3xl text-purple-400">
			生成您的（古代）社会阶级档案
		</h1>
		<div style="text-align: center;">
			<input
			  type="text"
			  placeholder="请输入您的名称"
			  class="input input-bordered pl-10 pr-16 py-2 border-dashed border-teal-500 hover:border-slate-400 "
			  id="search"
			/>
		</div>
		<br/>
		<MainCard>
			<div id="result" class="hidden flex flex-wrap gap-4"> 
			    <div class="w-full md:w-[calc(50%-8px)] bg-amber-100 p-6 rounded-lg shadow-md"> 
			        <p class="text-emerald-700 text-2xl mb-3">非洲庄园档案</p>
			        <h2 class="text-2xl font-bold mb-4 text-amber-800" id="africaTitle"></h2>
			        <p class="text-sm mb-2 text-amber-700" id="africaHistory"></p>
			        <p class="text-gray-600" id="africaIntro"></p>
			    </div>
			    <div class="w-full md:w-[calc(50%-8px)] bg-blue-100 p-6 rounded-lg shadow-md">
			        <p class="text-orange-600 text-2xl mb-3">印度种姓档案</p>
			        <h2 class="text-2xl font-bold mb-4 text-blue-800" id="indiaTitle"></h2>
			        <p class="text-sm mb-2 text-blue-700" id="indiaHistory"></p>
			        <p class="text-gray-600" id="indiaIntro"></p>
			    </div>
			    <div class="w-full md:w-[calc(50%-8px)] bg-violet-100 p-6 rounded-lg shadow-md">
			        <p class="text-orange-600 text-2xl mb-3">中国阶级档案</p>
			        <h2 class="text-2xl font-bold mb-4 text-violet-800" id="chinaTitle"></h2>
			        <p class="text-sm mb-2 text-violet-700" id="chinaHistory"></p>
			        <p class="text-gray-600" id="chinaIntro"></p>
			    </div>
			    <div class="w-full md:w-[calc(50%-8px)] bg-lime-100 p-6 rounded-lg shadow-md">
			        <p class="text-orange-600 text-2xl mb-3">日本层级档案</p>
			        <h2 class="text-2xl font-bold mb-4 text-lime-800" id="japanTitle"></h2>
			        <p class="text-sm mb-2 text-lime-700" id="japanHistory"></p>
			        <p class="text-gray-600" id="japanIntro"></p>
			    </div>
			</div>
			<br/>
		</MainCard>
		<div class="divider my-8">
			<Icon name="lucide:heart-pulse" class="w-10 h-10 text-primary" />
			<strong>仅供娱乐</strong>
		</div>
		<script>
			// @ts-ignore
			import { rank } from "https://cdn.jsdelivr.net/gh/daeroa/nrcdn2@1.472/js/class.js";
			document.getElementById('staticAlert')?.classList.remove('show');
			let hideTimer: ReturnType<typeof setTimeout> | null = null;
			function showAlert() {
				const alertEl = document.getElementById('staticAlert');
				if (!alertEl) return;
				clearTimeout(hideTimer!);
				alertEl.classList.add('show');
				hideTimer = setTimeout(() => {
					alertEl.classList.remove('show');
				}, 2000);
			}
			document.querySelector("#search")?.addEventListener("keydown", (e: KeyboardEvent) => {
				const input = document.getElementById("search") as HTMLInputElement;
				const name = input.value;
				if (e.key === "Enter") {
					if (name.length === 0) {
						showAlert();
						return;
					}
					var jj = rank(name);
					document.getElementById('result').classList.remove('hidden');
					document.getElementById('africaTitle').textContent = jj.aName;
					document.getElementById('africaHistory').textContent = jj.aHist;
					document.getElementById('africaIntro').textContent = jj.aIntr;
					document.getElementById('indiaTitle').textContent = jj.iName;
					document.getElementById('indiaHistory').textContent = jj.iHist;
					document.getElementById('indiaIntro').textContent = jj.iIntr;
					document.getElementById('chinaTitle').textContent = jj.cName;
					document.getElementById('chinaHistory').textContent = jj.cHist;
					document.getElementById('chinaIntro').textContent = jj.cIntr;
					document.getElementById('japanTitle').textContent = jj.jName;
					document.getElementById('japanHistory').textContent = jj.jHist;
					document.getElementById('japanIntro').textContent = jj.jIntr;
				}
			});
		</script>
	</MainCard>
</BaseLayout>
	