---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
---

<BaseLayout title="功能·没墨">
	<style>
		.alert {
		    position: fixed;
			width: 230px;
			height: 40px;
		    top: 20px;
		    right: -100%;
		    background: #ff4444;
		    color: white;
		    padding: 12px 18px;
		    border-radius: 6px;
		    display: flex;
		    align-items: center;
		    opacity: 0;
		    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		    font-family: Arial, sans-serif;
		}
		
		.alert.show {
		    opacity: 1;
		    right: 20px;
		}
		
		.icon::before {
		    content: "×";
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    border-radius: 50%;
		    background: white;
		    color: #ff4444;
		    text-align: center;
		    line-height: 18px;
		    margin-right: 12px;
		    font-weight: 700;
		    font-size: 14px;
		}
	</style>
	<MainCard>
		<div id="staticAlert" class="alert">
		    <span class="icon"></span>
		    <span class="message">名字不能留空</span>
		</div>
		<h1 class="font-bold text-center mb-4 text-3xl text-purple-400">
			没墨档案生成
		</h1>
		<div style="text-align: center;">
			<input
				type="text"
				placeholder="请输入您的名称"
				class="input input-bordered pl-10 pr-16 py-2 border-dashed border-teal-500 hover:border-slate-400 "
				id="search"
			/>
		</div>
		<br/>
		<MainCard>
			<div class="hidden max-w-3xl mx-auto p-6" id="texcel">
				<table class="w-full border-2 border-purple-300 rounded-2xl overflow-hidden shadow-lg">
					<thead class="bg-pink-50">
						<tr>
							<th colspan="3" class="px-6 py-4 text-2xl font-bold text-purple-600 border-b-2 border-purple-200" id="ttitle">
								请查收您的没墨档案
							</th>
						</tr>
					</thead>
					<tbody class="bg-white font-bold">
						<tr class="divide-x divide-purple-100">
							<td class="px-4 py-3 text-pink-700">
								<span class="text-gray-400">姓名：</span>
								<span class="truncate max-w-[120px] inline-block" id="tname"></span>
							</td>
							<td class="px-4 py-3 text-purple-600">
								<span class="text-gray-400" >性别：</span><label id="tgender"></label>
							</td>
							<td class="px-4 py-3 text-blue-500">
								<span class="text-gray-400">标签：</span><label id="tcategory"></label>
							</td>
						</tr>
						<tr class="divide-x divide-purple-100 border-t border-purple-50">
							<td class="px-4 py-3 text-green-600">
								<span class="text-gray-400">身高：</span><label id="theight"></label>
							</td>
							<td class="px-4 py-3 text-yellow-600">
								<span class="text-gray-400">三围：</span><label id="tmeasurements"></label>
							</td>
							<td class="px-4 py-3 text-red-500">
								<span class="text-gray-400">罩杯：</span><label id="tcup"></label>
							</td>
						</tr>
						<tr class="divide-x divide-purple-100 border-t border-purple-50">
							<td class="px-4 py-3 text-amber-800">
								<span class="text-gray-400">发色：</span><label id="thair"></label>
							</td>
							<td class="px-4 py-3 text-teal-600">
								<span class="text-gray-400">··人数：</span><label id="texperience"></label>
							</td>
							<td class="px-4 py-3 text-fuchsia-600">
								<span class="text-gray-400">性欲值：</span><label id="tdesire"></label>
							</td>
						</tr>
						<tr class="divide-x divide-purple-100 border-t border-purple-50">
							<td class="px-4 py-3 text-slate-700">
								<span class="text-gray-400">性癖：</span><label id="thobby"></label>
							</td>
							<td class="px-4 py-3 text-emerald-700 break-words max-w-[200px]">
								<span class="text-gray-400">特殊能力：</span><label id="tability"></label>
							</td>
							<td class="px-4 py-3 text-orange-500">
								<span class="text-gray-400">评分：</span><label id="trating"></label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="flex">
				<div id="smpie" class="m-auto"></div>
				<br/>
				<div id="eline" class="m-auto"></div>
			</div>
		</MainCard>
		<div class="divider my-8">
			<Icon name="lucide:heart-pulse" class="w-10 h-10 text-primary" />
			<strong>仅供娱乐，切勿代入！</strong>
		</div>
		<script src="https://cdn.jsdelivr.net/gh/daeroa/nrcdn2/js/echarts.js" type="text/javascript"></script>
		<script>
			// @ts-ignore 
			import { divine } from "https://cdn.jsdelivr.net/gh/daeroa/nrcdn2@1.48/js/sakyubasu.js";
			declare var echarts: any;
			document.getElementById('staticAlert')?.classList.remove('show');
			let hideTimer: ReturnType<typeof setTimeout> | null = null;
			function showAlert() {
				const alertEl = document.getElementById('staticAlert');
				if (!alertEl) return;
				clearTimeout(hideTimer!);
				alertEl.classList.add('show');
				hideTimer = setTimeout(() => {
				  alertEl.classList.remove('show');
				}, 2000);
			}
			document.querySelector("#search")?.addEventListener("keydown", (e: KeyboardEvent) => {
				const input = document.getElementById("search") as HTMLInputElement;
				var crt = document.documentElement.getAttribute("data-theme");
				const name = input.value;
				if (e.key === "Enter") {
					if (name.length === 0) {
						showAlert();
						return;
					}
					const result = divine(name.trim());
					document.getElementById('texcel').classList.remove('hidden');
					document.getElementById('tname').textContent = result["姓名"];
					document.getElementById('tgender').textContent = result["性别"];
					document.getElementById('tcategory').textContent = result["分类"];
					document.getElementById('theight').textContent = result["身高"];
					document.getElementById('tmeasurements').textContent = `${result["上围"]} ${result["下围"]} ${result["屁围"]}`;
					document.getElementById('tcup').textContent = `${result["罩杯"]} Cup`;
					document.getElementById('thair').textContent = result["发色"];
					document.getElementById('texperience').textContent = result["经验人数"];
					document.getElementById('tdesire').textContent = result["性欲值"];
					document.getElementById('thobby').textContent = result["性癖"];
					document.getElementById('tability').textContent = result["特殊能力"];
					document.getElementById('trating').textContent = result["评价"];
					
					//Pie
					const smpie = document.getElementById("smpie");
					if (!smpie) return;			   
					smpie.style.height = "300px";
					smpie.style.width = "300px";
					const pie = echarts.init(smpie, 'dark');
					const pieOption = {
						title: {
							text: `${result["姓名"]}のSM程度`,
							subtext: "by Southcatsm",
							left: "center"
						},
						tooltip: { trigger: 'item' },
						legend: { orient: 'vertical', left: 'left' },
						series: [{
							name: "SM程度",
							type: 'pie',
							radius: '50%',
							toolbox: {
								show: true
							},
							data: [
								{ value: result["S度"], name: 'S' },
								{ value: result["M度"], name: 'M' }
							],
							itemStyle: {
								shadowBlur: 200,
								shadowColor: 'rgba(0, 0, 0, 0.5)'
							}
						}]
					};
					pie.setOption(pieOption);
					
					//Line
					const eline = document.getElementById("eline");
					if (!eline) return;			   
					eline.style.height = "300px";
					eline.style.width = "800px";
					const line = echarts.init(eline, 'dark');
					const lineOption = {
						title: {
							text: `${result["姓名"]}の近七日星行为统计`,
							subtext: "by Southcatsm",
							left: "center"
						},
						tooltip: {
						    trigger: 'axis',
						    formatter: '{b}<br/>本日计次: {c}次'
						},
						xAxis: {
							type: 'category',
							data: [
								result["近7日行为"][0]["日期"],
								result["近7日行为"][1]["日期"],
								result["近7日行为"][2]["日期"],
								result["近7日行为"][3]["日期"],
								result["近7日行为"][4]["日期"],
								result["近7日行为"][5]["日期"],
								result["近7日行为"][6]["日期"],
							],
							axisLabel: {
								color: '#aaa'
							},
							boundaryGap: true
						},
						yAxis: {
						    type: 'value',
						    axisLabel: {
						        color: '#aaa',
						        formatter: '{value}'
						    }
						},
						series: [{
						    data: [
								result["近7日行为"][0]["人数"],
								result["近7日行为"][1]["人数"],
								result["近7日行为"][2]["人数"],
								result["近7日行为"][3]["人数"],
								result["近7日行为"][4]["人数"],
								result["近7日行为"][5]["人数"],
								result["近7日行为"][6]["人数"]
							],
						    type: 'line',
						    smooth: true,
						    lineStyle: {
						        width: 3,
						        color: '#5470C6'
						    },
						    itemStyle: {
						        color: '#FFD700'
						    },
						    areaStyle: {
						        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
									{ offset: 0, color: 'rgba(84, 112, 198, 0.5)' },
									{ offset: 1, color: 'rgba(84, 112, 198, 0.1)' }
						        ])
						    },
							label: {
								show: true
							}
						}],
						grid: {
						    containLabel: true,
						    left: '3%',
						    right: '4%',
							bottom: '3%'
						}
					};
					line.setOption(lineOption);
				}
			});
		</script>
	</MainCard>
</BaseLayout>
	