---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
---
<BaseLayout title="生活日志">
	<h1 class="text-4xl font-bold text-center">Constructing</h1>
	
</BaseLayout>