---
import Changelog from "@/components/Changelog.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import MainCard from "@/components/MainCard.astro";

// 从上往下 新旧顺序
const logs = [
	{
		date: "2025-05-23",
		type: "update",
		entries: [
			"底部导航栏彻底整改",
			"更新日志已更新",
			"新增了一位贡献者",
			"Index 时间轴样式整改",
			"修改了先前一些博客存在的表达问题",
			"新增Project Loli/Zer/Dcuisine",
			"博客新增评论系统"
		],
		command: "$ interstellar deploy /uploading -upd --strict",
		code: "da7c00a7"
	},
	{
		date: "2025-05-13",
		type: "fix",
		entries: [
			"修改了先前一些博客存在的表达问题",
			"若干代码优化"
		],
		command: "$ interstellar deploy /uploading -fix",
		code: "f945a8fc"
	},
	{
		date: "2025-05-04",
		type: "optimize",
		entries: [
			"Project fortune新增UI",
			"优化了Index页面的博客数量计算",
			"修改了先前一些博客存在的表达问题",
			"生日快乐！青年节快乐！"
		],
		command: "$ interstellar deploy /uploading -opt --birthd",
		code: "00000504"
	},
	{
		date: "2025-05-02",
		type: "update",
		entries: [
			"Project页面UI大优化",
			"About页面新增新组件：Steam游戏时长、ACGN检测",
			"Project class页面卡片优化动画",
			"Friend页面新增贡献者和曲奇饼干",
			"Friend页面修改部分贡献者的拜访链接",
			"Donate页面UI优化",
			"404页面大图加了一只可爱的柴郡猫猫",
			"Index页面彻底整改",
			"开屏动画移除",
			"若干代码优化"
		],
		command: "$ interstellar deploy /uploading -upd",
		code: "adda8c9a"
	},
	{
		date: "2025-04-26",
		type: "update",
		entries: [
			"为Plicense增加作品标签和logo",
			"Project class增加新的两个国家地区：埃及、斯巴达（希腊）",
			"Project succubus图表支持白黑模式",
			"Live2D移除",
			"若干代码优化"
		],
		command: "$ interstellar deploy /uploading -upd",
		code: "55191273"
	},
	{
		date: "2025-04-17",
		type: "optimize",
		entries: [
			"优化Project页面UI",
			"增加Plicense",
			"优化Project各项目的一些UI",
			"优化Project各项目的一些冗余代码"
		],
		command: "$ interstellar deploy /uploading -opt",
		code: "0acd276f"
	},
	{
		date: "2025-04-09",
		type: "maintain",
		entries: ["建立全新主题站点，残血复活"],
		command: "$ interstellar deploy /uploading -upd",
		code: "7cf0018a"
	},
	{
		date: "2024-01-01",
		type: "fix",
		entries: ["修复了一些问题"],
		command: "$ ftwop deploy /uploading -upd -strict",
		code: "afcbddff"
	},
	{
		date: "2023-12-29",
		type: "update",
		entries: ["增加了redirect组件，支持recaptcha、hcaptcha、turnstile"],
		command: "$ ftwop deploy /uploading -upd -strict",
		code: "f197ca6f"
	},
	{
		date: "2023-10-22",
		type: "update",
		entries: ["原站点功能基本迁移至新站点完毕"],
		command: "$ ftwop deploy /uploading -upd -strict",
		code: "c6a9791d"
	},
	{
		date: "2023-09-30",
		type: "maintain",
		entries: ["southcat.cc站正式成立"],
		command: "$ ftwop deploy /uploading -upd -strict",
		code: "c79af9cd"
	},
	{
		date: "2023-04-16",
		type: "update",
		entries: ["增加新页面：反诈诈骗"],
		command: "$ jvap upload /uploading --platform=github",
		code: "c6a9791d"
	},
	{
		date: "2023-03-14",
		type: "update",
		entries: ["增加新页面：NGGuP诈骗"],
		command: "$ jvap upload /uploading --platform=github",
		code: "8cb7f457"
	},
	{
		date: "2022-02-22",
		type: "fix",
		entries: ["修复了一些显著且危险的代码"],
		command: "$ jvap upload /uploading --platform=github",
		code: "df114836"
	},
	{
		date: "2022-01-15",
		type: "optimize",
		entries: ["优化了一些小组件"],
		command: "$ jvap upload /uploading --platform=github",
		code: "a38d5d7c"
	},
	{
		date: "2021-09-24",
		type: "maintain",
		entries: ["博客正式建立，托管于Github Pages"],
		command: "$ jvap upload /uploading --platform=github",
		code: "daf6bd9c"
	},
].sort((a, b) => new Date(b.date) - new Date(a.date));
---

<BaseLayout title="更新日志">
	<MainCard class="container mx-auto px-4 py-12 max-w-4xl">
		<div class="text-center mb-12">
			<h1 class="text-3xl font-bold mb-2 text-primary">更新日志</h1>
			<h1 class="text-xl font-bold mb-2 text-secondary">2021.09 - now</h1>
		</div>
		<Changelog logs={logs} />
		<br />
		<hr />
		<h1 class="text-xl font-bold mb-1 text-secondary">2025.04以前的更新日志以旧博客系统为准</h1>
	</MainCard>
</BaseLayout>