---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
---
<BaseLayout title="生活日志">
	<MainCard>
		<style>
			.mockup-code pre {
				padding: 0.5rem 1rem;
				margin: 0;
				line-height: 1.5;
			}
			.mockup-code code {
				font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
				font-size: 0.875rem;
			}
		</style>
		<div class="flex flex-col items-center justify-center min-h-[60vh] py-12">
			<h1 class="text-4xl font-bold text-center mb-2">
				<span>该模块正在等待下一期规划</span>
			</h1>
			<p class="text-lg opacity-80 max-w-md text-center mb-6">
				<span>等呀等，等到黄花菜都凉惹ε(┬┬﹏┬┬)3</span>
			</p>
			<div class="mockup-code mb-8 bg-base-200 w-full max-w-full overflow-x-auto font-bold">
				<pre><code><span class="text-secondary" > Interstellar Console #05(Administrator) [Version 1.03.118]</span></code></pre>
				<pre> ><code><span class="text-primary"> $ interstellar deploy daily --planet=scsm --strict</span></code></pre>
				<pre><code><span class="text-muted" > [INFO] Executing command</span></code></pre>
				<pre><code><span class="text-warning" > [WARNING] Detected '--force', strict mode has been enabled</span></code></pre>
				<pre><code><span class="text-dark" > [INFO] Generated 2.03s</span></code></pre>
				<pre><code><span class="text-dark" > [INFO] Syncing content</span></code></pre>
				<pre><code><span class="text-dark" > [INFO] Synced content</span></code></pre>
				<pre><code><span class="text-dark" > [INFO] Successfully obtained authentication token</span></code></pre>
				<pre><code><span class="text-dark" > [INFO] Connecting to the server</span></code></pre>
				<pre><code><span class="text-error whitespace-pre-wrap break-words" > [ERROR] Command has been rejected by the server</span></code></pre>
				<pre><code><span class="text-error whitespace-pre-wrap break-words" > [ERROR] The module named 'daily' is currently not included in this planning phase</span></code></pre>
				<pre><code><span class="text-error whitespace-pre-wrap break-words" > [ERROR] Failed: Error while executing user command. Exited with error code: 1</span></code></pre>
				<pre><code><span class="text-error whitespace-pre-wrap break-words" > [ERROR] Failed: deploy command exited with code: 1</span></code></pre>
			</div>
		</div>
		<div class="divider my-8">
			<Icon name="mdi:diary" class="w-10 h-10 text-primary" />
		</div>
	</MainCard>
</BaseLayout>