---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import BaseCard from '@/components/BaseCard.astro';
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
---

<BaseLayout title="朋友">
    <div class="space-y-10">
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:users" class="w-6 h-6 text-primary" />
          <span>Contributors</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          <FriendCard
            name="Southcatsm"
            avatar="/profile.png"
            description="成事不足  败事有余"
            url="https://github.com/southcatsm"
            type="friend"
          />
          <FriendCard
            name="山田凉"
            avatar="https://p2-pro.a.yximgs.com/uhead/AB/2025/02/23/15/BMjAyNTAyMjMxNTM4MTJfMzU2NDQ3Nzk0OV8yX2hkOTY5XzU5Mg==_s.jpg"
            description="橘子不去想苹果的问题"
            url="https://www.kuaishou.com/profile/3xd3ra98qks7e3u"
            type="friend"
          />
          <FriendCard
            name="CGYCCS-"
            avatar="/cgyccs.jpg"
            description="好生活"
            url="https://space.bilibili.com/1658622019"
            type="friend"
          />
        </div>
      </section>
      <div class="divider my-8">
        <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
      </div>
    </div>
</BaseLayout>
